.bg-fade {
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: relative;
    position: fixed;
    inset: 0;
    z-index: -10;
    // -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.7) 40%, rgba(0, 0, 0, 0) 70%);
    // mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.7) 40%, rgba(0, 0, 0, 0) 70%);
}