:root {
  --el-color-primary: #E85353 !important;
  --el-color-success: #28A745 !important;
  --el-color-warning: #FFC107 !important;
  --el-color-danger: #DC3545 !important;

  --el-color-primary-light-3: #FEF6ED !important;
  --el-bg-color-page: #FFF4F4 !important;
}
