.btn-gradient {
  background: linear-gradient(90deg,
      var(--el-color-primary) 0%,
      var(--el-color-primary-light-3) 100%);
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  transition: 0.2s ease;

  &:hover {
    filter: brightness(1.1);
  }
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  font-family: 'Inter', sans-serif;
}