:deep(.el-input__wrapper) {
    background-color: #ffffff !important;
    border-radius: 8px;
    border: 1px solid var(--el-color-primary);
    -webkit-appearance: none;
    appearance: none;
    box-shadow: none;
    padding: 10px 12px;
    min-height: 48px;
}

:deep(.el-input__inner) {
    color: var(--el-color-primary);
    -webkit-text-fill-color: var(--el-color-primary);
    font-size: 16px;
    min-height: 24px;
    line-height: 24px;
}

:deep(.el-input__inner::placeholder) {
    color: var(--el-color-primary);
    opacity: 0.6;
}
